@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.header {
  position: relative;
  margin-bottom: 3rem;
}

.header__button {
  position: absolute;
  z-index: 11;
  margin: 2px;
  border-radius: 0;
}

.header__placeholder {
  width: 100%;
  height: 200px;
  background-image: url(assets/crowd.jpg);
  background-position: center;
  background-size: cover;
}

.header__title {
  text-align: center;
  color: black;
  -webkit-text-stroke: 2px white;
  font-size: 100px;
  margin-bottom: -0.5rem;
}

.header__subtitle {
  text-align: center;
  color: rgba(255, 255, 255, 0.15);
  font-size: 20px;
}

.table-1 {
  margin: 0 5rem;
}

.table__title {
  text-align: center;
  text-transform: capitalize;
}

.bar-progress {
  margin: 2rem 5rem;
}

.bar-container {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.8);
}

.form-container {
  margin: 2rem 5rem;
}

.form__title {
  text-align: center;
}
